/*
STUDI INDEPENDEN KAMPUS MERDEKA WITH PROGATE

Nama		: Andrean Yonathan
Email		: and21yonathan@gmail.com
LinkedIn	: linkedin.com/in/andreanynthn
Github		: github.com/andreanynthn

Section:
	1. Bagian header
	2. Bagian atas halaman
	3. Bagian konten atau isi
	4. Bagian formulir
	5. Bagian footer

*/

/*Reset CSS*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

/*Style bagian header*/
.header{
	height:  90px;
	background-color: #26d0e9;
}

.header h1{
	font-size: 36px;
	padding:  20px 40px;
	float:  left;
	color: #fff;
}

.header-list li{
	list-style: none;
	float:  left;
	padding:  33px 20px;
}


/*Style bagian atas halaman*/
.top{
	padding: 100px 80px 0 80px;
}

.top h1{
	font-size: 140px;
}

span{
	color: #ff4a4a;
}

.top h2{
	font-size: 60px;
}

/*Style bagian konten atau isi*/
.content{
	height: 500px;
	margin: 100px 80px 100px 80px;
}

.content h3{
	font-size: 28px;
	border-bottom: 2px solid #dee7ec;
	padding-bottom: 15px;
}

.content-item{
	float: left;
	padding-top: 50px;
	padding-right: 40px;
}

.content-item p{
	font-size:  24px;
	padding-top: 30px;
}

/*Style bagian formulir*/
.contact-form{
	padding-right: 80px;
	padding-left: 80px;
	padding-bottom: 100px;
}

.contact-form h3{
	font-size: 28px;
	border-bottom: 2px solid #dee7ec;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

.contact-form input, textarea{
	width:  400px;
	padding: 20px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #dee7ec;
	font-size: 18px;
}

.contact-submit{
	font-size: 18px;
}

/*Style bagian footer*/
.footer{
	height: 120px;
	padding: 40px;
	background-color: #2f5167;
	color: #fff;
}

.footer p{
	font-size: 32px;
	float: left;
}

.footer-list{
	float: right;
}

.footer-list li{
	list-style: none;
	padding-bottom: 20px;
}